@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECECEC;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "San Francisco", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
